name: Deploy Flutter Web via FTP

on:
  workflow_dispatch: 
  push:
    branches:
      - main
    paths:
      - 'app/**'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.7'

      - name: Install dependencies
        working-directory: app
        run: flutter pub get

      - name: Build Flutter Web
        working-directory: app
        run: dart run ./lib/tools/build_web.dart

      - name: Deploy via SFTP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          source: app/build/web/
          target: /var/www/html/
          rm: true
